In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
video_games = pd.read_csv("C:\\Users\\Jordan\\OneDrive\\Desktop\\New folder\\archive\\games.csv")
video_games.shape
video_games.head

<bound method NDFrame.head of       Unnamed: 0                                    Title  Release Date  \
0              0                               Elden Ring  Feb 25, 2022
1              1                                    Hades  Dec 10, 2019
2              2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3              3                                Undertale  Sep 15, 2015
4              4                            Hollow Knight  Feb 24, 2017
...          ...                                      ...           ...
1507        1507             Back to the Future: The Game  Dec 22, 2010
1508        1508                        Team Sonic Racing  May 21, 2019
1509        1509                           Dragon's Dogma  May 22, 2012
1510        1510                          Baldur's Gate 3  Oct 06, 2020
1511        1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

[1512 rows x 14 columns]>

In [3]:
video_games.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

### Column descriptions:
* **Unnamed** - unique ID  for each game in the dataset
* **Title** - title of the game
* **Release** - release date of the game [Month, date, year]
* **Team** - publisher of the game e.g. Nintendo
* **Rating** - Average rating out of 5 for the game
* **Times listed** - Number of users on Backloggd who have listed this game (added to a list of games with particular themes or collections)
    * Think of it like a playlist for the game
* **Number of reviews** - How many reivews have been posted for this game
* **Genres** - Genres the game comes under
    * e.g. Action, Platformer, RPG, etc.
* **Plays** - Number of users who have played this game (finshed)
* **Playing** - number of users who are currently playing this game (not finished)
* **Backlogs** - Those who can play the game but haven't started yet
* **Wishlist** - Those who wish to play the game by cannot yet.
* **Reviews** - A user review of the game 
* **Summary** - A summary of the game

Whilst inspecting the dataset we found that the reviews and summary columns were irrelevant and difficult to work with given the questions we chose to investigate as a part of our analysis. They are both too text heavy and also their are multiple entries written in foreign languages.

In [11]:
video_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [12]:
video_games.shape

(1512, 14)

14 columns
* 12 object datatype 
* 1 float datatype (Ratings)
* 1 int datatype (Index column)

We identify an issues with our data which is that a majority of the object columns contain data which represents numbers in the 1000s as using decimal and K e.g. 4700 is 4.7K thus we worked a solution to converting these data types later on in our analysis.

When looking at the dataset in its CSV File form it seemed that two of the columns appeared to carry identical values. These were "Times Listed" and "Number of Reviews" I wrote a function below that uses the `.equals()` paired with an `if statement` to verify if this observation is correct

In [8]:
def check_equal_values(df, column1, column2): 
        if df[column1].equals(df[column2]):
            print(f'{column1} and {column2} have the same values')
        else:
            print(f'{column1} and {column2} do not have the same values')

check_equal_values(video_games, 'Times Listed', 'Number of Reviews')
check_equal_values(video_games, 'Times Listed', 'Title')
#I ran the function twice to confirm that code was working as intended.

Times Listed and Number of Reviews have the same values
Times Listed and Title do not have the same values

A conclusion we potentially made from this result is that a user may have to write a review for a game before they can list the game.

In [14]:
dfvg_1 = video_games.drop(columns=['Unnamed: 0', 'Summary', 'Reviews'])
dfvg_1.shape
dfvg_1.head

<bound method NDFrame.head of                                         Title  Release Date  \
0                                  Elden Ring  Feb 25, 2022
1                                       Hades  Dec 10, 2019
2     The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3                                   Undertale  Sep 15, 2015
4                               Hollow Knight  Feb 24, 2017
...                                       ...           ...
1507             Back to the Future: The Game  Dec 22, 2010
1508                        Team Sonic Racing  May 21, 2019
1509                           Dragon's Dogma  May 22, 2012
1510                          Baldur's Gate 3  Oct 06, 2020
1511                 The LEGO Movie Videogame  Feb 04, 2014

                                                   Team  Rating Times Listed  \
0        ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                                  ['Supergiant Games']     4.3         2.9K
2     ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                    ['tobyfox', '8-4']     4.2         3.5K
4                                       ['Team Cherry']     4.4           3K
...                                                 ...     ...          ...
1507                                 ['Telltale Games']     3.2           94
1508                           ['Sumo Digital', 'Sega']     2.9          264
1509                                         ['Capcom']     3.7          210
1510                                 ['Larian Studios']     4.1          165
1511                          ['WB Games', 'TT Fusion']     2.8          184

     Number of Reviews                                             Genres  \
0                 3.9K                               ['Adventure', 'RPG']
1                 2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2                 4.3K                               ['Adventure', 'RPG']
3                 3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                   3K                 ['Adventure', 'Indie', 'Platform']
...                ...                                                ...
1507                94                   ['Adventure', 'Point-and-Click']
1508               264                               ['Arcade', 'Racing']
1509               210                                 ['Brawler', 'RPG']
1510               165  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511               184                            ['Adventure', 'Puzzle']

     Plays Playing Backlogs Wishlist
0      17K    3.8K     4.6K     4.8K
1      21K    3.2K     6.3K     3.6K
2      30K    2.5K       5K     2.6K
3      28K     679     4.9K     1.8K
4      21K    2.4K     8.3K     2.3K
...    ...     ...      ...      ...
1507   763       5      223       67
1508  1.5K      49      413      107
1509  1.1K      45      487      206
1510   269      79      388      602
1511  1.7K      11      239       73

[1512 rows x 11 columns]>

We then dropped the columns discussed earlier as being irrelevant to our analysis.

* Summary and Reviews are single text entries describing a game, sometimes the entries are written in different langauges, contain spelling mistakes and vary too greatly in length and detail to derive in any consistent detail from.

* We also dropped the unnamed column as it wasn't serving any purpose either

In [16]:
#checking for empty values
empty_values = (dfvg_1 == ' ').sum()
print(empty_values)

Title                0
Release Date         0
Team                 0
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
dtype: int64

In [18]:
#checking for NaN values
dfvg_1.isna().sum()

Title                 0
Release Date          0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [19]:
#checking for duplicated values
dupes = dfvg_1[dfvg_1.duplicated()]
dupes

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Plays,Playing,Backlogs,Wishlist
326,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']",17K,3.8K,4.6K,4.8K
327,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",21K,3.2K,6.3K,3.6K
328,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",30K,2.5K,5K,2.6K
329,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",28K,679,4.9K,1.8K
330,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...
1268,Bloodstained: Curse of the Moon,"May 23, 2018",['Inti Creates'],3.6,341,341,"['Adventure', 'Indie', 'Platform']",2.3K,41,800,397
1269,Final Fantasy XIII-2,"Dec 15, 2011",['Square Enix'],3.3,482,482,"['Adventure', 'RPG']",2.3K,58,1.4K,449
1270,Agar.io,"Apr 28, 2015","['Miniclip.com', 'Matheus Valadares']",2.2,81,81,"['Indie', 'Strategy']",4.4K,8,40,12
1271,Fatal Frame II: Crimson Butterfly,"Nov 27, 2003","['Tecmo Co., Ltd.', 'Ubisoft Entertainment']",4.2,398,398,['Adventure'],1K,38,690,513
1496,FIFA 13,"Sep 25, 2012","['Electronic Arts', 'EA Canada']",3.2,62,62,"['Simulator', 'Sport']",1.6K,2,34,12

In [20]:
dfvg1 = dfvg_1.drop_duplicates(keep='first')
dfvg_1.shape

(1512, 11)

I used the drop function here as it's more efficient to drop dupes by row instead of checking each column individually for unique values where its very common to have duplicated values in the numeric columns.

In [22]:
dfvg_1.isna().any()
#checking for which columns actually contain NA values.

Title                False
Release Date         False
Team                  True
Rating                True
Times Listed         False
Number of Reviews    False
Genres               False
Plays                False
Playing              False
Backlogs             False
Wishlist             False
dtype: bool

In [23]:
dfvg_1.isna().sum()

Title                 0
Release Date          0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

We have 1 game without a team and 13 games without ratings.

In [24]:
dfvg_1[dfvg_1['Team'].isnull()]

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Plays,Playing,Backlogs,Wishlist
1245,NEET Girl Date Night,"Oct 21, 2022",NaN,2.7,21,21,['Visual Novel'],106,1,44,42

The above is a small indie game made by a single developer. We decide to class this game as "Independent developer" in our team column

In [25]:
dfvg_1['Team'].fillna('Independent developer', inplace = True)

In [27]:
dfvg_1[dfvg_1['Rating'].isnull()]

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Plays,Playing,Backlogs,Wishlist
587,Final Fantasy XVI,"Jun 22, 2023","['Square Enix', 'Square Enix Creative Business...",NaN,422,422,['RPG'],37,10,732,2.4K
649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",3,0,209,644
713,Final Fantasy VII Rebirth,"Dec 31, 2023",['Square Enix'],NaN,192,192,[],20,3,354,1.1K
719,Lies of P,"Aug 01, 2023","['NEOWIZ', 'Round8 Studio']",NaN,175,175,['RPG'],5,0,260,939
726,Judas,"Mar 31, 2025",['Ghost Story Games'],NaN,90,90,"['Adventure', 'Shooter']",1,0,92,437
746,Like a Dragon Gaiden: The Man Who Erased His Name,"Dec 31, 2023","['Ryū Ga Gotoku Studios', 'Sega']",NaN,118,118,"['Adventure', 'Brawler', 'RPG']",2,1,145,588
972,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023","['Nintendo', 'Nintendo EPD Production Group No...",NaN,581,581,"['Adventure', 'RPG']",72,6,1.6K,5.4K
1130,Star Wars Jedi: Survivor,"Apr 28, 2023","['Respawn Entertainment', 'Electronic Arts']",NaN,250,250,['Adventure'],13,2,367,1.4K
1160,We Love Katamari Reroll + Royal Reverie,"Jun 02, 2023","['Bandai Namco Entertainment', 'MONKEYCRAFT Co...",NaN,51,51,"['Adventure', 'Puzzle']",3,0,74,291
1202,Earthblade,"Dec 31, 2024",['Extremely OK Games'],NaN,83,83,"['Adventure', 'Indie', 'RPG']",0,1,103,529
1305,Diablo IV,"Jun 06, 2023",['Blizzard Entertainment'],NaN,148,148,"['Brawler', 'RPG']",19,10,179,677
1341,Pac-Man in a Tin,"Mar 22, 2023",['Fizz Creations'],NaN,0,0,['Arcade'],1,0,1,2
1349,Pokémon Añil,"Mar 23, 2023",['Eric Lost'],NaN,2,2,['RPG'],1,0,1,7

Looking at this snippet of the data there is a trend between having recent release dates and not having ratings. Furthermore this also revealed that the game "Death Stranding 2" has the release date "releases on TBD" which also needs to be investigated. 

As ratings are incredibly important for our analysis we decide to drop games with no release date

In [29]:
dfvg_1 = dfvg_1.dropna(subset=['Rating'])
dfvg_1 = dfvg_1.reset_index(drop=True)
#removing the NaN ratings and then using the reset_index() to keep the index intact

In [31]:
dfvg_1.shape

(1499, 11)

Earlier we found a game with a release date recorded as "releases on TBD" below we check for any other games which share this trait.

In [32]:
tbd_df = dfvg_1[dfvg_1['Release Date'] == 'releases on TBD']
tbd_df

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Plays,Playing,Backlogs,Wishlist
643,Deltarune,releases on TBD,['tobyfox'],4.3,313,313,"['Adventure', 'Indie', 'Music', 'Puzzle', 'RPG']",1.3K,83,468,617
1242,Elden Ring: Shadow of the Erdtree,releases on TBD,"['FromSoftware', 'Bandai Namco Entertainment']",4.8,18,18,"['Adventure', 'RPG']",1,0,39,146

* **Deltarune** released on 31 October 2018
* **Elden Ring: Shadow of the Erdtree** - released on 20 June 2024

We append these dates to the release date of each game. In this case of Elden Ring despite having an even more recent release date than the games we dropped previously we find that "Shadow of the Erdtree" is an expansion pack for the original game thus reviews and ratings carry over from the original game. 

*Expansion pack - Extra downloadable content which can be added to the original game adding new features, events, storylines etc.*

In [35]:
dfvg_1.at[dfvg_1[dfvg_1['Title'] == 'Deltarune'].index[0], 'Release Date'] = 'Oct 31, 2018'
dfvg_1.at[dfvg_1[dfvg_1['Title'] == 'Elden Ring: Shadow of the Erdtree'].index[0], 'Release Date'] = 'Jun 20, 2024'

Next we want to convert all the information relating to release dates into numerical values using the `datetime` module.

In [36]:
dfvg_1['Release Date'] = pd.to_datetime(dfvg_1['Release Date']).dt.strftime('%Y-%m-%d')

We use the stfrtime method paired with the datetime module to convert the release dates into the desired format.

Lastly we need to convert the following columns in to true numeric values:
* Times listed
* Number of reviews
* Plays 
* Playing
* Backlogs
* Wishlist

We need to transform the data so that we remove the `"K"` and then convert the value into a floating numeric value by multiplying by 1000

In [42]:
dfvg_1.isna().sum()

Title                0
Release Date         0
Team                 0
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
dtype: int64

In [ ]:
def k_to_numeric(s):
    if 'K' in s:
        return float(s.replace('K', ''))*1000
    else:
        return float(s)
dfvg_1['Wishlist'] = dfvg_1['Wishlist'].apply(k_to_numeric)
dfvg_1['Backlogs'] = dfvg_1['Backlogs'].apply(k_to_numeric)
dfvg_1['Number of Reviews'] = dfvg_1['Number of Reviews'].apply(k_to_numeric)
dfvg_1['Plays'] = dfvg_1['Plays'].apply(k_to_numeric)
dfvg_1['Playing'] = dfvg_1['Playing'].apply(k_to_numeric)
dfvg_1['Rating'] = dfvg_1['Backlogs'].apply(k_to_numeric)

In [48]:
dfvg_1.isna().sum()

Title                0
Release Date         0
Team                 0
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
dtype: int64

In [50]:
dfvg_1.shape

(1499, 11)

In [51]:
dfvg_1.describe()

,Rating,Times Listed,Number of Reviews,Plays,Playing,Backlogs,Wishlist
count,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000,1499.000000
mean,3.719346,774.653769,774.653769,6307.694463,269.676451,1462.428286,777.693796
std,0.532608,688.381719,688.381719,5891.645858,427.582310,1343.029151,793.790867
min,0.700000,8.000000,8.000000,1.000000,0.000000,5.000000,2.000000
25%,3.400000,293.500000,293.500000,1900.000000,44.000000,470.000000,212.000000
50%,3.800000,555.000000,555.000000,4300.000000,115.000000,1000.000000,496.000000
75%,4.100000,1000.000000,1000.000000,9100.000000,302.000000,2100.000000,1100.000000
max,4.800000,4300.000000,4300.000000,33000.000000,3800.000000,8300.000000,4800.000000